.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
}

.dialog {
    padding: 10px;
}

.messagesItems {
    padding: 20px;
}

.message {
    padding: 10px;
}

.active {
    color: gold;
}