.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
}

.dialogsItems a {
    color: white;
    text-decoration: none;
}


.dialog {
    padding: 10px;
}

.messagesItems {
    padding: 20px;
}

.message {
    padding: 10px;
}

.active {
    color: gold;
}